
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<section id="checknow">
    <div class="container check text-white p-4">
            <form asp-action="GetRoom" method="POST">
      <div class="row">
          <div class="col">
            
            <div>
              Check-in
            </div>
            <div>
              <input type="datetime-local" name="ngayden" id="ngayden" value="" required>

            </div>
          </div>
          <div class="col">
            <div>
              Check-out
            </div>
            <div>
              <input type="datetime-local" name="ngaydi" id="ngaydi" value="" required>
            </div>
          </div>
          <div class="col">
            <div>
              Số Lượng
            </div>
            <div>
              <select name="nguoi" id="nguoi">
                <option value="1">1 người</option>
                <option value="2">2 người</option>
                <option value="3">3 người</option>
                <option value="4">4 người</option>
                <option value="5">5 người</option>
                <option value="6">6 người</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div>
              Loại Phòng
            </div>
            <div>
                            <select name="category" id="category">
                                <option value="">Chọn phòng </option>
                            </select>

                            <script>
                                fetch('https://localhost:7146/api/HotelManager/GetAllPhong')
                                    .then(response => response.json())
                                    .then(data => {
                                        console.log(data)
                                        data.forEach(item => {
                                            const option = document.createElement('option');
                                            option.value = item.id;
                                            option.text = item.loaiPhong;
                                            document.getElementById('category').appendChild(option);
                                        });
                                    })
                                    .catch(error => console.error(error));
                            </script>

            </div>
          </div>
          <div class="col d-flex justify-content-center pe-0" style="align-items: center;">
             <input class="buttonCheck" type="submit" name="btn" value="Check Now">
          </div> 
      </div>
    </form>
   
    </div>
  </section>
</body>
</html>