
@{
    ViewData["Title"] = "Restaurant_MonTrangMieng_Edit";
}
@model MontrangmiengViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa Thông Tin Món Tráng Miệng</title>
    <style>
        * {
            text-decoration: none;
        }
    </style>
</head>

<body>
  
    <form asp-controller="admin" asp-action="Restaurant_MonTrangMieng_Update" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td colspan="2">
                    <h1>CẬP NHẬT THÔNG TIN MÓN Tráng Miệng</h1>
                </td>
            </tr>
            <tr>
                <td>Tên Món</td>
                <td>
                    <input type="text" name="TenMon" id="TenMon" value="@Model.TenMon">
                </td>
            </tr>
            <tr>
                <td>Giá</td>
                <td>
                    <input type="text" name="Gia" id="Gia" value="@Model.Gia">
                </td>
            </tr>
            <tr>
                <td>Ảnh</td>
                <td>
                    <input type="file" name="imgFile" id="Img" value="@Model.Img>">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="btnSubmit" value="Ghi dữ liệu">
                    <button>   <a asp-controller="admin" asp-action="Restaurant_MonTrangMieng_Index">Quay lại</a></button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
   
</body>

</html>