
@{
    ViewData["Title"] = "User_Create";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
        <script>
            alert(decodeURIComponent("@ViewBag.Message"));
        </script>
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Mới</title>
    <style>
        *{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <form asp-controller="admin" asp-action="SignUp" class="form"  method="POST">
    <table>
        <tr>
            <td colspan="2"><h1>Thêm mới Tài Khoản</h1></td>
        </tr>
        <tr>
            <td>Họ Tên</td>
            <td>
                <input type="text" name="HoTen" id="HoTen">
            </td>
        </tr>
        <tr>
            <td>Số Điện Thoại</td>
            <td>
                <input type="number" name="SDT" id="SDT">
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="Email" id="Email"></td>
        </tr>
        <tr>
            <td>CMND</td>
            <td>
            <input type="text" name="Cmnd" id="Cmnd">
            </td>
        </tr>
        <tr>
            <td>Mật Khẩu</td>
            <td>
            <input type="text" name="password" id="password">
            </td>
        </tr>
        <tr>
            <td><input type="Submit" name="btnSubmit" id="btnSubmit" value="Gửi"></td>
            <td><button><a href="@Url.Action("User_Index", "admin")">Quay lại</a></button></td>
        </tr>
    </table>
    </form>
</body>
</html>